<h1>Overview</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @overview.each do |(key, value)| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Rails Info</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @rails_info.each do |(key, value)| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Memory</h1>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>Free</td>
      <td><%= @memory.free_memory_mb %> MB</td>
    </tr>
    <tr>
      <td>Max</td>
      <td><%= @memory.max_memory_mb %> MB</td>
    </tr>
    <tr>
      <td>Total</td>
      <td><%= @memory.total_memory_mb %> MB</td>
    </tr>
  </tbody>
</table>

