<div class="brand">Backstage</div>
<ul class="nav">
  <li><%= link_to('Dashboard', root_path)  %></li>
  <li><%= link_to('Server', server_index_path)  %></li>
  <li><%= link_to('Queues', queues_path)  %></li>
  <li><%= link_to('Message Processors', message_processors_path)  %></li>
  <li><%= link_to('Jobs', jobs_path)  %></li>
  <li><%= link_to('Services', services_path)  %></li>
  <li><%= link_to('Console', console_index_path)  %></li>
  <li><%= link_to('Environment', environment_index_path)  %></li>
  <li><%= link_to('Cache', cache_index_path)  %></li>
  <li><%= link_to('Process', process_path)  %></li>
  <li><%= link_to('System', system_index_path)  %></li>
</ul>

